page-movie-detail {


    .background-image-container {
        width: 100%;
        height: 200px;
        margin: 0px;
    }

    .add-favorite-button {
        width: 92%;
        margin-left: 4%;
        margin-top: 10px;
        background-color: map-get($map: $colors, $key: appTheme);
    }


    .image-container-detail {
        min-height: 200px;
        background-size: cover;
    }

    .card-content-detail {
        margin: 0px;
        padding: 0px;
        display: table-row;
    }

    .movie-detail-text-row {
        height: 25%;
    }

    .movie-detail-text-row span {
        line-height: 42px;
    }

    .movie-cover-image-column , .movie-detail-grid{
        padding: 0px;
    }
}
