<ion-header>
  <ion-navbar>
    <ion-title>
      SPN MOVIES
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" ion-text color="primary">
      <ion-segment-button value="latest">LATEST</ion-segment-button>
       <ion-segment-button value="popular" ion-text color="primary" (click)="initFavoritesList()">POPULAR MOVIES</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'latest'">
        <ion-grid no-padding class="home-gallery">
            <ion-row>
              <error-card *ngIf="errorMessage != undefined" [item]="errorMessage"></error-card>
                <ion-col col-4 *ngFor="let item of movies  | async"> 
                  <movie-card [item]="item"></movie-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div *ngSwitchCase="'popular'">
        <ion-grid no-padding class="home-gallery">
            <ion-row>
                <error-card *ngIf="errorMessageFavorites != undefined" [item]="errorMessageFavorites"></error-card>
                <ion-col col-4 *ngFor="let item of favorites  | async">
                  <movie-card [item]="item"></movie-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>  
</ion-content>
