.segment-button {
    background-color: map-get($colors, appTheme) !important;
}

.floating-favorite-button {
    background-color: map-get($map: $colors, $key: appTheme);
}

.movies-card-container {
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.activity-detail-loading {
    .loading-wrapper {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.favorite-ion-fab {
    z-index: 79;
}

