<ion-header>
  <ion-toolbar color="appTheme">
    <ion-navbar>
      <ion-title>
        SPN MOVIES
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only color="white">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
    <ion-segment [(ngModel)]="segment" ion-text color="white">
      <ion-segment-button value="latest">LATEST</ion-segment-button>
       <ion-segment-button value="popular" ion-text (click)="initFavoritesList()">POPULAR MOVIES</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'latest'">
        <ion-grid no-padding class="home-gallery">
            <ion-row>
              <error-card *ngIf="errorMessage != undefined" [item]="errorMessage"></error-card>
                <ion-col col-4 *ngFor="let item of movies  | async"> 
                  <movie-card [item]="item"></movie-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div *ngSwitchCase="'popular'">
        <ion-grid no-padding class="home-gallery">
            <ion-row>
                <error-card *ngIf="errorMessageFavorites != undefined" [item]="errorMessageFavorites"></error-card>
                <ion-col col-4 *ngFor="let item of favorites  | async">
                  <movie-card [item]="item"></movie-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>
<ion-fab right bottom padding>
    <button ion-fab color="appTheme"><ion-icon name="star"></ion-icon></button>
  </ion-fab>  
</ion-content>
