page-home {
    .image-container {
        min-height: 200px;
        background-size: cover;
    }
}

.segment-button {
    background-color: map-get($colors, appTheme ) !important;
    color:#ffff !important;

    &.activated, &.segment-activated {
        background-color: map-get($map: $colors, $key:appTheme ) !important;
        border-top: 0 !important;
        border-right: 0 !important;
        border-bottom: 2px solid #fff !important;
        border-left: 0 !important;
        color: #fff !important;
      }
}
