page-home {
    .image-container {
        min-height: 200px;
        min-height: 150px;
        background-size: cover;
        height: 75%;
    }
}

.segment-button {
    background-color: map-get($colors, appTheme ) !important;
    background-color:map-get($colors, appTheme ) !important;
    color:#ffff !important;

    &.activated, &.segment-activated {
        background-color: map-get($map: $colors, $key:appTheme ) !important;
        border-top: 0 !important;
        border-right: 0 !important;
        border-bottom: 2px solid #fff !important;
        border-left: 0 !important;
        color: #fff !important;
        background-color: map-get($map: $colors, $key:appTheme );
        border-top: 0 ;
        border-right: 0;
        border-bottom: 2px solid #fff;
        border-left: 0 ;
        color: #fff ;
      }
}

.movie-card{
    padding:0px;
    margin: 0px;
    width:100%;
}

.movie-card-content{
    margin: 0px;
    padding:0px;
}

.floating-favorite-button{
    background-color: map-get($map: $colors, $key: appTheme) !important;
    background-color: map-get($map: $colors, $key: appTheme);
}

.movie-card-description{
    margin:5px;
    height: 50px;;
}
