.movie-card{
    padding:0px;
    margin: 0px;
    width:100%;
}

.movie-card-content{
    margin: 0px;
    padding:0px;
}

.image-container {
    min-height: 200px;
    min-height: 150px;
    background-size: cover;
    height: 75%;
}

.movie-card-description{
    margin:5px;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}