$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals";

$colors: (
  primary:    #77cfa8,
  secondary:  #0a1b0f,
  danger:     #f53d3d,
  light:      white,
  dark:       #222,
  apptheme:   #005319
);
@import "ionic.theme.default";
@import "ionic.ionicons";
// Fonts
@import "roboto";
@import "noto-sans";
//$toolbar-background:#77cfa8;
//$segment-button-ios-background-color:#77cfa8;

ion-title {
  text-align: center;
}

$segment-button-text-color:white;

$segment-button-color:white;

$segment-button-md-border-bottom-color:white;