$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals";

$colors: (
  primary:    blue,
  secondary:  #0a1b0f,
  danger:     #f53d3d,
  light:      white,
  dark:       #222,
  appTheme:   #77cfa8
);
@import "ionic.theme.default";
@import "ionic.ionicons";
// Fonts
@import "roboto";
@import "noto-sans";
// $toolbar-md-background: map-get($colors, appTheme);
$segment-button-md-background-color:#77cfa8;
$segment-button-md-background-color:#77cfa8;
$segment-button-md-opacity: 1;
//$segment-button-wp-opacity:1;
