page-search-result {
    .label {
        margin: 0px;
    }
    .toolbar-background {
        background: map-get($map: $colors, $key:appTheme);
    }

    .toolbar-title,
    .back-button {
        color: white;
    }

    .content {
        background: rgb(219, 219, 219);
    }
    .movie-card-list {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }

    .movie-card-content-list {
        margin: 0px;
        padding: 0px;
    }

    .image-container-list {
        height: 78px;
    }

    .movie-card-description-list {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .search-result-content {
        padding: 3px;
    }

    .movie-image-container-list-column {
        max-width: 20%;
    }

    .search-result-row-description-container {
        overflow: hidden;
    }

    .movie-card-description-summary {
        margin-top: 5px;
    }

    .movie-card-description-summary>p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        font-size: 12px;
        color: #3a3a3a;
        height: 44px;
        overflow: hidden;
        white-space: normal;
    }

    .item{
        padding-left: 8px;
    }
}
